body{
	overflow-x: hidden;
	overflow-y: hidden;
}
.navbar-brand{
	font-size: 50px;
	margin-left: 20px;
}
.navbar{
	text-decoration: none;
	color: white;
	background-image: linear-gradient(to right , #8B79D9 ,#805EBF, #6F46A6, #511F73 );
	font-size: 20px;
	padding: auto;
	height: 50px;
}
.navbar-nav .nav-link {
    color: #CCDCFF;
}
.navbar .navbar-brand{
	color: #CCDCFF;
}

.bg1{
	width: 1536px;
	height: 870px;
	background-color: #212529;
	z-index: 1;
}
.bgImg{
	position: absolute;
	left: 158px;
	top: 110px;
	z-index: 1;
}
.largeShape1{
	position: absolute;
	left: 927px;
	top: 240px;
	z-index: 1;
}
.smallShape1{
	position: absolute;
	left: 1099px;
	top: 240px;
	z-index: 2;
}
.aniGif{
	width: 348px;
	height: 348px;
	position: absolute;
	top: 380px;
	left: 216px;
	z-index: 2;
}
.largeShape2{
	position: absolute;
	left: 275px;
	top: 110px;
	z-index: 1;
}
.smallShape2{
	position: absolute;
	left: 529px;
	top: 110px;
	z-index: 1;
}
.ellipse5{
	position: absolute;
	left: 96px;
	top: 570px;
	z-index: 1;
}
.ellipse3{
	position: absolute;
	left: 1041px;
	top: 200px;
	z-index: 1;
}
.ellipse4{
	position: absolute;
	left: 1114px;
	top: 165px;
	z-index: 1;
}
.text-div{
	width: 621px;
	height: 166px;
	position: relative;
	left: 464px;
	top: 210px;
	z-index: 3;
}
.text-div h1{
	color: white;
	font-weight: bold;
	font-size: 54px;
}
.text-div h2{
	color: white;
	font-weight: bold;
	font-size: 41px;
}
.text-div p{
	color: #CED4DA;
	margin-top: 20px;
	font-size: 18px;
}
.text-div button{
	margin-top: 25px;
	width: 168.18px;
	height: 43.1px;
	border-radius: 15px;
	border: none;
	background-image: linear-gradient(to right , #E4C8E5 , #B984B1 , #721174);
	color: #E9ECEF;
	font-weight: semi-bold;
	font-size: 20px;
}

                                           /*Home Page styling end here*/
.hero{
/*	display: flex;*/
	width: 100vw;
	height: 200vh;
	justify-content: center;
	align-items: center;
}
.main-container{
	width: 700px;
	height: 500px;
	position: relative;
	top: 100px;
	left: 25%;
	background-color: grey;
	padding: 15px;
}
.tables{
	width: 500px;
	height: 50px;
	position: absolute;
	top: 70%;
	left: 30%;
	padding: 20px;
}
